.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:100%;
    max-width:100%;
    
  }
  .hRight{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly ;
  }
  .header-logo {
    width: 400px;
    height: auto;
  }
  
  .center-logo {
    width: 100px;
    height: auto;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    font-size: 24px;
    color: #333;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: row;
      align-items: flex-start;
      /* align-items:center; */
    }
  
    .header-logo{
        width:300px;
    }
    .center-logo {
      width: 100px;
    }
  
    .social-icons {
      justify-content: center;
      width: 100%;
    }
  }
  