.header {
  /* position:sticky; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width:100%;
    max-width:100%;
   
    
    
  }

  .border-down{
    border-bottom: 10px solid #4a4a4a;
    height:20px;
  }
  