@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.profilecontainer {
  height: 180px;
  width: 180px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
  background: rgb(32, 50, 100);
  display:flex;
  flex-direction: column;

}

.profilecontainer:hover {
  height: 530px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 1px 35px 0px rgba(0,0,0,0.3);
}

.profilecontainer .profilewrapper img {
  position: relative;
  z-index: 20;
  border-radius: 50%;
  display: block;
  height: 150px;
  width: 150px;
  border: 5px solid #fff;
  object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
}

.profilecontainer:hover .profilewrapper img.active {
  height: 470px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}

.profilewrapper .profiletitle {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
}

.profilewrapper .profileplace {
  color: rgb(160, 150, 150);
  font-size: 15px;
  line-height: 15px;
  margin: 10px 0;
  gap:5px;
  align-items:center;
  text-align: center;
}

.profilecontent {
  color: #fff;
  font-size: 17px;
  margin-top: 10px;
  padding: 1px 20px 10px 20px!important;
}

.show-more {
  max-height: none;
  transition: all 0.3s ease;
}

.show-less {
  max-height: 100px; /* Adjust as needed */
  overflow: hidden;
  transition: all 0.3s ease;
}

.read-more {
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
