.footercontainer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    display:flex;
    flex-direction: column;
	/* background-color: rgb(32, 32, 150); */
	background-color:#272829;
    padding: 70px 0;
    margin-top:80px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   padding-right:20px;
   border-right: 2px solid aliceblue; /* Specify the border properties */
   margin: 20px 0; 
}
.footer-col h2{
	font-size: 35px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h2::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 120px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li p {
	font-size: 20px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li p:hover{
	color: #ffffff;
	padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.footerhead{
    text-align: center;
    align-items: center;
    padding-top:50px;
    padding-left:30px;
}



.footerhead  h3 {
	font-size: 20px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footerhead h3:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footerbtm{
    padding-top:50px;
    display:flex;
    flex-direction: column;
    
    align-items:center;
    text-align:center;
    font-size: 15px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
}
.footerbtm h4{
    align-items: center;
}
.footerbtm ::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 120px;
}


.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
  }