@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.cdnfonts.com/css/ninja-naruto');
*{
    margin:0;
    padding:0;
    box-sizing :border-box;
    font-family :'Poppins','sans-serif';

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 90px;
    background: white; /* Aqua-Blue gradient */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  .header:hover {
    background-color: transparent;

  }
  .header:hover >.header__nav > .anchors > a{
color: #00009c;
  }
  .header > img {
    height: 50px;
    width: 250px;
    border-radius: 10px;
  }
  
  .header__nav > .anchors {
    display: flex;
    gap: 30px; /* Reduced gap between links */
  }
  
  .header__nav > .anchors > a {
    position: relative;
    font-size: 0.9em;
    color:#00009c ; /* White text color */
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease; /* Smooth text color transition */
  }
  
  .header__nav > .anchors > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff; /* White underline */
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .header__nav > .anchors > a:hover::after {
    transform: scaleX(1); /* Scale Y underline on hover */
  }
  
  